In [1]:
import pandas as pd
import numpy as np
import mysql.connector
import os

In [3]:
# load the candidate records
for candidate_years in os.listdir("CRP_IDs"):
    candidate_csv = pd.read_csv(f"CRP_IDs/{candidate_years}").dropna()
    print(candidate_years)
    for row in candidate_csv.itertuples():
        mydb = mysql.connector.connect(
        host="localhost",
        port=3309,
        user="root", 
        password="secret",
        database="ftvBackEnd"
        )
        cursor = mydb.cursor()
        query = """
        INSERT IGNORE INTO
            candidate (`name`, cid, cycle)
        VALUES
            (%s,%s,%s)
            
        """
        if "," in row.CRPName:
            new_name = row.CRPName.split(", ")[1] + " " + row.CRPName.split(", ")[0]
        else:
            new_name = row.CRPName
        cursor.execute(query, (new_name, row.CID, candidate_years.split(".")[0]))
        mydb.commit()
        mydb.close()
candidate_csv

2018.csv
2020.csv
2022.csv

            CID            CRPName Party DistIDRunFor  FECCandID
0     N00047923    Aazami, Shervin     D         CA30  H2CA30291
1     N00048268   Abdelhamid, Rana     D         NY12  H2NY12197
2     N00048100       Abud, Edward     D         FLS2  S2FL00482
3     N00048254    Acciard, Julian     R         NH01  H2NH01254
4     N00048052    Acheson, Phelan     I         UT02  H2UT02431
...         ...                ...   ...          ...        ...
1328  N00047850         Zhou, Lily     R         CAS1  S2CA00948
1329  N00048172  Zimmerman, Marina     R         CO03  H2CO03260
1330  N00047893         Zink, Jeff     R         AZ07  H2AZ07187
1331  N00035616        Zinke, Ryan     R         MT02  H2MT02050
1332  N00048530      Zygmond, Curt     I         MT02  H2MT02068

[1333 rows x 5 columns]

In [2]:
# load the top ten contributors per candidate per cycle
top_ten_funding_data = pd.read_csv("scraped_2020_top_ten.csv", index_col=[0])
# drop those with holes
top_ten_funding_data = top_ten_funding_data[~top_ten_funding_data["cand_name"].isnull()]
insert_industry_q = """
INSERT IGNORE INTO 
    industry(`code`, name)
VALUES
    (%s, %s)
"""
insert_funding_q = """
INSERT INTO
    `candidate-industry`(candidate_id, industry_id, indivs, pacs, total, last_updated)
VALUES
    (
    (SELECT id FROM candidate WHERE cid=%s AND cycle=%s),
    (SELECT id FROM industry WHERE `code`=%s),
    %s,
    %s,
    %s,
    %s
    )
"""
for i, row in top_ten_funding_data.iterrows():
    mydb = mysql.connector.connect(
        host="localhost",
        port=3309,
        user="root", 
        password="secret",
        database="ftvBackEnd"
        )
    cursor = mydb.cursor()
    candidate_name = row.cand_name
    cid = row.cid
    cycle = int(row.cycle)
    last_updated = row.last_updated
    for i in range(10):
        industry_code = row[f"industry_code{i}"]
        industry_name = row[f"industry_name{i}"]
        indivs = row[f"indivs{i}"]
        pacs = row[f"pacs{i}"]
        total = row[f"total{i}"]
        cursor.execute(insert_industry_q, (industry_code, industry_name))
        try:
            subquery = """
            INSERT IGNORE INTO
                candidate (`name`, cid, cycle)
            VALUES
                (%s,%s,%s)

            """
            cursor.execute(subquery, (row.cand_name, cid, cycle))
            cursor.execute(insert_funding_q, (cid, cycle, industry_code, indivs, pacs, total, last_updated))
            mydb.commit()
        except:
            print(candidate_name)
            mydb.rollback()
            
    mydb.close()

In [3]:
row

cand_name                      Adam Smith
cid                             N00007833
cycle                              2020.0
last_updated                   03/22/2021
industry_code0                        D01
industry_name0          Defense Aerospace
indivs0                           50220.0
pacs0                             70500.0
total0                           120720.0
industry_code1                        D03
industry_name1               Misc Defense
indivs1                            2500.0
pacs1                             95250.0
total1                            97750.0
industry_code2                        D02
industry_name2        Defense Electronics
indivs2                           13900.0
pacs2                             80000.0
total2                            93900.0
industry_code3                        K01
industry_name3          Lawyers/Law Firms
indivs3                           25300.0
pacs3                             43500.0
total3                            68800.0
industry_code4                        P03
industry_name4      Transportation Unions
indivs4                               0.0
pacs4                             46000.0
total4                            46000.0
industry_code5                        W06
industry_name5                    Retired
indivs5                           44134.0
pacs5                                 0.0
total5                            44134.0
industry_code6                        K02
industry_name6                  Lobbyists
indivs6                           43300.0
pacs6                                 0.0
total6                            43300.0
industry_code7                        B12
industry_name7    Electronics Mfg & Equip
indivs7                            7121.0
pacs7                             34500.0
total7                            41621.0
industry_code8                        P01
industry_name8      Building Trade Unions
indivs8                               0.0
pacs8                             40000.0
total8                            40000.0
industry_code9                        N07
industry_name9           Casinos/Gambling
indivs9                           39400.0
pacs9                                 0.0
total9                            39400.0
Name: 464, dtype: object